
@{
    ViewBag.Title = "Parrain|Index";
}
@section header{
    @{
        Html.RenderPartial("~/Views/Shared/_Header.cshtml");
    }
}
<h2>Area|Parrain|Index</h2>

<div>
    <h4> Bonjour, @Model.InfoParrain.Nom  @Model.InfoParrain.Prenom</h4>
   
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
