 <!-- header -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-expand-lg navbar-light navbar-fixed-top">
        <h1>
            <a class="navbar-brand" href="~/Home/Index" data-blast="color">
                Creature
            </a>
        </h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-lg-auto text-center">
                <li class="nav-item active">
                    <a class="nav-link" href="~/Home/Index" data-blast="color">
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item  mt-lg-0 mt-3">
                    <a class="nav-link scroll" href="~/Home/About">about</a>
                </li>
                @* ------------------------------------ *@
                @*<li class="nav-item mt-lg-0 mt-3">
                <a class="nav-link scroll" href="~/Home/Formules">features</a>
            </li>*@
                @* --------- *@
                <li class="nav-item dropdown mt-lg-0 mt-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Nos Formules
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link scroll" href="~/Home/Formules">Formules</a>
                        <a class="dropdown-item scroll nav-link" href="~/Home/Pricing">Prix</a>
                        <a class="dropdown-item scroll nav-link" href="~/Home/Pricing">Nos Promos</a>

                    </div>
                </li>
                @* ------------------------------------ *@
                <li class="nav-item dropdown mt-lg-0 mt-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        En photo
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item scroll nav-link" href="~/Home/Team">Notre équipe</a>
                        <a class="dropdown-item scroll nav-link" href="~/Home/Portfolio">Portfolio</a>
                        <a class="dropdown-item scroll nav-link" href="~/Home/Blog">Blog</a>
                    </div>
                </li>
                <li class="nav-item  mt-lg-0 mt-3">
                    <a class="nav-link scroll" href="~/Home/Contact">Contact</a>
                </li>
            </ul>
            @* ----------button pointant vers logOut si connected----------------- *@
            @if (!Interzoo.Web.Tools.Web.SessionUtilisateur.IsConnected)
            {
                <button type="button" class="btn  wthree-link-bnr bg-theme rounded-circle text-center mt-lg-0 mt-3" data-toggle="modal"
                        aria-pressed="false" data-target="#exampleModal" data-blast="bgColor">
                    <span class="fa fa-user text-white"></span>
                </button>
            }
            else
            {
                <button type="button" class="btn  wthree-link-bnr bg-theme rounded-circle text-center mt-lg-0 mt-3 " id="logOut"
                         data-blast="bgColor">
                    <span class="fa fa-lock text-white"></span>
                </button>

            }
            @* ------------------------------------------------------------------- *@
        </div>

    </nav>
</header>
<!-- //header -->
